<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Montando o Lanche</title>
    <script src="./vue.js"></script>
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand mb-0 h1">Monte o Seu Lanche</span>
      </nav>

    <div class="container">
        <div class="app">
            <div class="row">
                <div class="col-md-6">
                    <div class="row mt-2">
                        <div class="col">
                            <img :src="pao[0]">
                            <img :src="alface">
                            <img :src="ketchup">
                            <img :src="maionese">
                            <img :src="mostarda">
                            <img :src="hamburguer">
                            <img :src="pao[1]">
                        </div>
                    </div>
                </div>
                <div class="col-md-6" v-if="etapa == 1">
                    <div class="row mt-2">
                        <div class="col">
                            <div class="card">
                                <div class="card-header">
                                  TIPO DO PÃO
                                </div>
                                <div class="card-body">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" value="gergelim" v-model="inTipoPao">
                                        <label class="form-check-label">
                                          Gergelim
                                        </label>
                                      </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" value="australiano" v-model="inTipoPao">
                                        <label class="form-check-label">
                                          Pão Australiano
                                        </label>
                                      </div>
                                </div>
                              </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col">
                            <div class="card">
                                <div class="card-header">
                                  SALADAS
                                </div>
                                <div class="card-body">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="alface" v-model="inSalada">
                                        <label class="form-check-label">
                                          Alface
                                        </label>
                                      </div>
                                </div>
                              </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col">
                            <div class="card">
                                <div class="card-header">
                                  MOLHOS
                                </div>
                                <div class="card-body">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" value="ketchup" v-model="inMolho">
                                        <label class="form-check-label">
                                          Ketchup
                                        </label>
                                      </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" value="mostarda" v-model="inMolho">
                                        <label class="form-check-label">
                                          Mostarda
                                        </label>
                                      </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" value="maionese" v-model="inMolho">
                                        <label class="form-check-label">
                                          Maionese
                                        </label>
                                      </div>
                                </div>
                              </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col">
                            <div class="card">
                                <div class="card-header">
                                  TIPO DO HAMBÚGUER
                                </div>
                                <div class="card-body">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" value="bovino" v-model="inHamburger">
                                        <label class="form-check-label">
                                          Bovino
                                        </label>
                                </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" value="frango" v-model="inHamburger">
                                        <label class="form-check-label">
                                          Frango
                                        </label>
                                </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" value="soja" v-model="inHamburger">
                                        <label class="form-check-label">
                                          Soja
                                        </label>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col d-flex justify-content-end">
                        <button type="button" class="btn btn-primary" @click="fazerPedido">Fazer Pedido</button>
                    </div>
               </div>
            </div>
            <div class="col md-6" v-if="etapa == 2">
                <div class="row mt-2">
                    <div class="col">
                        <div class="card">
                            <div class="card-header">
                              INFORME SEUS DADOS
                            </div>
                            <div class="card-body">
                                <div class="mb-3">
                                    <label class="form-label">Nome:</label>
                                    <input type="text" class="form-control" v-model="inNome">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Endereço:</label>
                                    <input type="text" class="form-control" v-model="inEndereco">
                                </div>
                            </div>
                          </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col d-flex justify-content-between">
                        <button type="button" class="btn btn-warning" @click="etapa -= 1" >Voltar</button>
                        <button type="button" class="btn btn-success" @click="confirmarPedido()" >Confirmar</button>
                    </div>
                </div>
            </div>
            <div class="col md-6" v-if="etapa == 3">
                <div class="row mt-2">
                    <div class="col">
                        <div class="card">
                            <div class="card-header">
                              PEDIDO CONFIRMADO
                            </div>
                            <div class="card-body">
                                <p>Agora é só aguardar, seu pedido está sendo preparado.</p>
                            </div>
                          </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col d-flex justify-content-between">
                        <button type="button" class="btn btn-primary" @click="etapa = 1">Repetir Pedido</button>
                        <button type="button" class="btn btn-success" @click="novoPedido()">Novo Pedido</button>
                    </div>
                </div>
            </div>
        </div>
    </div>  
    <script>
        new Vue({
            el:".app",
            data:{
                inTipoPao:'',
                inSalada:[],
                inMolho:[],
                inHamburger:'',
                etapa: 1,
                inNome:'',
                inEndereco:''
            },
            methods:{
                fazerPedido(){
                    if(this.inTipoPao && this.inHamburger){
                        this.etapa = 2
                    }else{
                        alert("Escolha no mínimo um tipo de pão e hambúeguer")
                    }
                },
                confirmarPedido(){
                    if(this.inNome && this.inEndereco){
                        this.etapa = 3
                    }else{
                        alert('Você precisa informar o seu nome e endereço')
                    }
                },
                novoPedido(){
                    this.inTipoPao=''
                    this.inSalada=[]
                    this.inMolho=[]
                    this.inHamburger=''
                    this.etapa= 1
                    this.inNome=''
                    this.inEndereco=''
                }
            },
            computed:{
               pao(){
                   switch(this.inTipoPao){
                       case 'gergelim':
                           return ["/imagens/pao_gergelim_superior.png", "/imagens/pao_gergelim_inferior.png"]
                       case 'australiano':
                           return ["/imagens/pao_australiano_superior.png", "/imagens/pao_australiano_inferior.png"]
                       default:
                           return ["/imagens/padrao/pao_superior.png", "/imagens/padrao/pao_inferior.png"]
                   }
               },
               alface(){
                    if(this.inSalada.includes('alface')){
                        return 'imagens/alface.png'
                    }
                   return "/imagens/padrao/alface.png"
               },
               ketchup(){
                   if(this.inMolho.includes('ketchup')){
                       return 'imagens/ketchup.png'
                   }
                   return "/imagens/padrao/molho.png"
               },
               maionese(){
                   if(this.inMolho.includes('maionese')){
                       return 'imagens/maionese.png'
                   }
                   return "/imagens/padrao/molho.png"
               },
               mostarda(){
                   if(this.inMolho.includes('mostarda')){
                       return "imagens/mostarda.png"
                   }
                   return "/imagens/padrao/molho.png"
               },
               hamburguer(){
                   switch(this.inHamburger){
                       case 'bovino':
                           return ['/imagens/bovino.png']
                       case 'frango':
                           return ['/imagens/frango.png']
                       case 'soja':
                           return ['/imagens/soja.png']
                       default:
                           return "/imagens/padrao/hamburguer.png"
                   }
                   
               }
            }
        })
    </script>
</body>
</html>